
# Environment variables 
.env/
venv/
env/
n8n-data/n8n_data/

#historic files
0.historic/
00.Documents_Analytics_Project/
0.workbench/
*.log
linhascsv-final.py

# raw datas
Source/
consulta.sql
*.csv

